extends ../base
block content
    div 
        video(src="/" + video.fileUrl)
        div.controls
            button#play Play 
            button#mute Mute 
            span#runTime 00:00/00:00 
            input(type="range" id="volume" step="0.1" min="0" max="1")
        //-
            div
                p=video.description
                small=video.createdAt
            div 
                small Uploaded by 
                    a(href=`/user/${video.owner._id}`) #{video.owner.name} 
                if String(video.owner._id) == String(loggedInUser._id)
                    br
                    a(href=video.id + "/edit") edit video &rarr;
                    br
                    a(href=video.id + "/delete") delete video &rarr;
block scripts 
    script(src="/static/js/videoPlayer.js") 