extends ../base
include ../../mixins/video
block content
    div#watchPageContainer
        div#videoContainer(data-id=video._id)
            #videoPlayer
                video(src=isFly ? video.fileUrl : "/" + video.fileUrl id="video" width="100%")
                div#videoControls
                    div.videoControls__wrapper
                        div.videoControls__top
                            div.timelineContainer
                                input(type="range" step="1" value="0" min="0" style="width:100%")#timeline
                        div.videoControls__bottom
                            div.controlContainer
                                button#play
                                    i.fas.fa-play
                                button#mute
                                    i.fas.fa-volume-off.fa-lg
                                input(type="range" step="0.1" value="0.5" min="0" max="1" id="volume")
                                div 
                                    span#currenTime 00:00
                                    span / 
                                    span#totalTime 00:00
                            div.fullScreenContainer
                                button#fullScreen
                                    i.fas.fa-expand
            div#videoInfo
                h4.watch__title=video.title
                div.watch__owner-info
                    div.watch__owner-img
                        a(href= "/user/" + video.owner._id) 
                            img(src= isFly ? loggedInUser.avatarUrl 
                            : (loggedInUser.avatarUrl.includes("github") 
                            ? loggedInUser.avatarUrl 
                            : "/" + loggedInUser.avatarUrl) 
                            alt="avatar")
                    a(href= "/user/" + video.owner._id)
                        p=video.owner.username  
                div.watch__detail
                    div.watch__detail-wrapper
                        span.watch__views 조회수 #{video.meta.views}회 
                        span.watch__createdAt=video.createdAt 
                        p=video.description
                        div.hashtags
                            each hashtag in video.hashtags
                                span.hashtag=hashtag  
                            //- span.watch__hashtags=video.hashtags  
                div.ownerAccessOnly
                    if String(video.owner._id) == String(loggedInUser._id)
                        a(href=video.id + "/edit") edit video &rarr;
                        br
                        a(href=video.id + "/delete") delete video &rarr;
            div#commentSection
                if loggedIn
                    .video__add_comments 
                        form.video__comment-form#commentForm
                            textarea(cols="30", rows="10" placeholder="Write a comment...")
                            button(type="submit") Add comment    
                .video__comments 
                    ul
                        each comment in video.comments.reverse()
                            li(data-id=comment._id).video__comment
                                i.fas.fa-comment
                                span #{comment.text}
                                if String(comment.owner._id) == String(loggedInUser._id)
                                    span.deleteBtn ❌
        div#recommendVideo
            ul.recommendVideo__list
                each video in videos
                    li.recommentVideo__item
                        +videos(video)
block scripts 
    script(src="/static/js/videoPlayer.js") 
    script(src="/static/js/main.js") 
    if loggedIn
        script(src="/static/js/commentSection.js") 